<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Zenite</title>
</head>
<body>
  <header>
      <div class="logo">
        <a href="/">
          <img src="/assets/logo.png" alt="Logo_Zenite">
        </a>
      </div>
      <div class="links">
        <a href="/">conteúdos</a>
        <a href="/">sobre</a>
        <a href="/">comunidade</a>
        <a href="/">explorar</a>
      </div>
      <div class="explorer">
        <a href="/">
          <img src="/assets/Button_Explorer.png" alt="">
        </a>
      </div>
  </header>

  <div id="wrapper">
    <div class="info">
      <h1>Descubra</h1>
      <h3>um universo de possibilidades.</h3>
      <p>Explore conteúdos cientígicos, enquanto navega
        pelo espaço. Crie seu avatar, prepare sua nave e 
        embarque nessa jornada. Há muito o que ser descoberto.
      </p>
      <div class="button">
        <img src="/assets/Button_Start.png" alt="Botão Comece a explorar">
      </div>
    </div>

    <img src="/assets/Planeta.png" alt="Imagem de Planeta">
  </div>

  <div class="moreInfo">
    <img src="/assets/Polygon.png" alt="Botão para mais informações">
  </div>
</body>
</html>