@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body{
  background: #E5E5E5;
  font-family: 'Roboto', sans-serif;
  color: black;
  height: 100vh;

  display: flex;
  flex-direction: column;/* fazer o flex ficar 
  em coluna e não em linha */
}

header{
  height: 50px;
  padding: 28px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  background-color: #347EEC;
}

.links{
  height: 50px;
  justify-content: end;
  align-items: center;
  display: flex;
}


.links a{
  color: #FFFFFF;
  font-size: 20px;
  text-decoration: none;
  margin-right: 60px;  
}


/* ===== wrapper ======= */

#wrapper {  
  text-align: center;
  width: 940px;
  height: 366px;
  border-radius: 30px;
  opacity: 100%;
  margin-left: 148px;
}

#wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#wrapper .info h1 {
  width: 376px;
  height: 113px;

  color: #4E4646;
  font-size: 96px;    
  line-height: 112px;
  font-weight: 700;
  font-weight: bold;
  text-align: left;
  margin: 183px 60px 20px 0px ;
}
#wrapper .info h3{
  width: 587px;
  height: 51px;

  font-weight: 400;
  font-size: 40px;
  line-height: 47px;
  text-align: left;
  color: #4E4646;
  margin-bottom: 30px;
}

#wrapper .info p{
  width: 587px;
  height: 143px;

  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
  text-align: left;
  color: #4E4646;
}

#wrapper .image_planet img{
  margin: 143px 0px 0px 500px ;
  width: 396px;
  height: 397px;
}
#wrapper .button{
  display: flex;
  justify-content: start;
}


/* ===  Mais Informações   === */
.moreInfo {
  margin-top: 50px;
  display: flex;
  flex: 1;    /* faz com que a div se expanda em todo altura restante */
  width: 100%;
  align-items: flex-end;  /* alinha o footer lá em baixo */
}

.moreInfo img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

